.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.divider {
	width: 100%;
	height: 1px;
	background-color: #eaeaea;
	margin:  0;
}
.dividerStrong {
	width: 100%;
	height: 2px;
	background-color: #c9c9c9;
	margin:  0;
}
.tideItem{
	display: flex;
	flex-direction: row;
}